<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
    <style>
        .testClass {
            color: red;
        }
    </style>
  </head>
  <body>
      <!-- <div v-show="open" v-red>=这是模板测试和v-show测试 {{ msg }} + 4 6</div>
      <div v-show="!open" v-red>这是模板测试和初始值为false的v-show测试 {{ msg }}</div>
      <div v-if="open">这是v-if测试</div> -->
      <!-- <div v-data="controller">
          <div v-if="open">这是初始值为false的v-if测试</div>
          <button @click="open = !open">
              基础事件测试
          </button>
      </div> -->
    <div id="app">
        <div v-data="controller">
            <div id="test" v-if="open" :class="['testClass', classes]">这是v-if测试</div>
            <div id="test" v-if="open" :class="{ testClass: showClass }">这是v-if测试</div>
            <div>
                <!-- <span v-for="i in list">
                    {{ i }}
                </span> -->
            </div>
            <button @click="open = !open">
                toggle me
            </button>
            <button @click="showClass = !showClass">
                toggle me
            </button>
        </div>
    </div>
    <script type="module">
        import { createApp } from './src/app.ts'
        
        let app = createApp()
        app.data("controller", () => {
            return {
                open: true,
                showClass: false,
                msg: 'hello template',
                classes: 'xyz',
                list: [{ text: 1 }, { text: 2 }, { text: 3 }] // 
            }
        })
        app.data("cc", () => {
            return {
                open: true,
                msg: 'hello cc'
            }
        })
        app.mount('#app')
    </script>
  </body>
</html>
